[submodule "depth_pred/scripts/AnyNet"]
	path = depth_pred/scripts/AnyNet
	url = https://github.com/mileyan/AnyNet.git
[submodule "depth_pred"]
	path = depth_pred
	url = git@github.com:lnexenl/depth_pred.git
[submodule "prior_fusion"]
	path = prior_fusion
	url = git@github.com:lnexenl/prior_fusion.git
