[submodule "prior_locate"]
	path = prior_locate
	url = git@github.com:lnexenl/depth_pred.git
[submodule "prior_fusion"]
	path = prior_fusion
	url = git@github.com:lnexenl/prior_fusion.git
[submodule "fast_gicp"]
	path = fast_gicp
	url = https://github.com/lnexenl/fast_gicp.git
