[submodule "fast_gicp"]
	path = fast_gicp
	url = https://github.com/lnexenl/fast_gicp.git
[submodule "prior_locate/third_party/libSGM"]
	path = prior_locate/third_party/libSGM
	url = https://github.com/lnexenl/libSGM.git
